/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700;800&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h2 {
    color: #180303;
    

}

.section-p1{
    padding: 40px 80px;
}
.section-p1{
    padding: 40px 80px;
}
p {
    color: #555;
    font-size: 16px;
margin: 15px 0 20px 0;
text-align: center;
}

.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size:14px ;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:0.3s ;
}

body {
    margin-top: 0 !important;
    padding-top: 0 !important;
    color: #333;
    line-height: 1.6;
}

/* Header Section */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active {
    color: #12d0d6;
}

#navbar li a:hover::after,
#navbar li a:active::after {
    content: '';
    width: 30%;
    height: 2px;
    background: #12d0d6;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
/* Hero Section */
#hero {
    background-image: url(hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #12d0d6;
}

#hero button {
    background-image: url(button.png);
    background-color: transparent;
    color: #1885ce;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* Feature Section */
#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-p1 {
    padding: 40px 80px;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #ececec;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 20px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100px;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #12d0d6;
    background-color: #a1628c;
}

/* Product Section */
#product1 {
    text-align: center;
}
#product1 .cart {
    text-align: left;
}


#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    border: 1px solid #ececec;
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
    
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    font-size: 12px;
    color: #888;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20 px;
}

#product1 .pro .des i {
    color: #f5b411;
    font-size: 12px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #12d0d6;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

    

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #dd1515;
    
}
#banner button:hover{
    background: #088178;
    color: #fff;
}
#sm-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
gap: 20px;
}
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/b17.jpg);
    min-width: 500px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    
}
#sm-banner .banner-box2{
    background-image: url(banner/b10.jpg);
}
button.white{
    font-size:13px ;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition:0.3s ;
}
#sm-banner h4{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    
}
#sm-banner h2{
    color: #ffffffc2    ;
    font-size: 28px;
    font-weight: 800;
    
}
#sm-banner span{
    color: #ffffffdc;
    font-size: 16px;
    font-weight: 300;
    
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 h2{
color: #fff;   
 font-weight: 900;
    font-size: 22px;
    
}
#banner3 h3 {
    color: #d82b2b;
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    padding: 0 80px;
}
#banner3 .banner-box2 {
    background-image: url(banner/b18.jpg);
    
}
#banner3 .banner-box3 {
    background-image: url(banner/b4.jpg);
}
#banner3 .banner-box2 h2{
    color: #f1eeee;   
 font-weight: 900;
    font-size: 22px;
    text-align: left;
}
#banner3 .banner-box2 h3{
    color: #f31313;   
    
}
#banner3 .banner-box3 h3{
    color: #e90000;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(banner/bn4.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #2a59af;
}
#newsletter h4{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
#newsletter p{
    color: #050404;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}
#newsletter span{
    color: #b4c70e;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
#newsletter input{
 height: 3.125rem;
 padding: 0 1.25rem;
 font-size: 14px;
 width: 100%;
 border-radius: 4px;
 border: 1px solid transparent;
 outline: none;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

#newsletter button {
    font-size:13px ;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:#1ecac2;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #1ecac2;
    outline: none;
    transition:0.3s ;
    white-space: nowrap;
    border-top-left-radius: 0%;
    border-top-left-radius: 0%;
}
#newsletter:hover button{
    background: #c70e0e;
    border: 1px solid #c70e0e;
}
#newsletter .form{
    display: flex;
    width: 40%;
    
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
    footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    }
    footer p{
        font-size: 12px;
align-items: left;        
        }
        footer a{
            font-size: 13px;
            text-decoration: none;
            color: #222;
            margin: 0 0 8px 0;
            }
            footer .follow{
                margin-top: 20px;
            }
            footer .follow i{ 
                color: #465b52;
                padding-right: 4px;
                cursor: pointer;
            }
            footer .install .row img{
                border: 1px solid #23b5da;
                border-radius: 6px;
            }
            footer .instal img{
                margin: 10px 0 15px 0;
            }
            footer .follow i:hover{
                color: #12d0d6;
            }
            footer .copyright{
                width: 100%;
                text-align: center;
            }


            #page-header{
                background-image: url(banner/b1.jpg);
                width: 100%;
                height: 40vh;
                background-size: cover;
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                padding: 14px;
            }
            #page-header h2,
            #page-header p{
                color: #fff;
            }

            #pagination{
                text-align: center;
            }
            #pagination a{
                text-decoration: none;
                background-color: #088178;
                padding: 15px 20px ;
                border-radius: 4px;
                color: #fff;
                font-weight: 600;
            }
            #pagination a i{
                font-size: 16px;
                font-weight: 600;
            }





            #prodetails.section-p1{
                padding-left: 20px;
                padding-right: 20px;

            }

            #prodetails{
                display: flex;
    justify-content: center;
    direction: rtl !important;
    text-align: left !important;
}

          #prodetails .single-pro-details{
            
           width: 60%;
            
            

          }
          #prodetails .single-pro-details h4{
           margin-top: 0;
           
          }
          #prodetails .single-pro-details h2{
            font-size: 26px;
            
           }
           #prodetails .single-pro-details select{
            display: block;
            padding: 5px 10px;
            margin-bottom: 10px;
            
           }
           #prodetails .single-pro-details input{
            width: 50px;
            height: 47px;
            padding-left: 10px;
            font-size: 16px;
            margin-right: 10px;
           }
           #prodetails .single-pro-details button{
            background: #12d0d6;
            color: azure;
           }
           


           

































































            @media (max-width: 799px) {
                .section-p1{
                    padding: 40px 40px;
                }
                #navbar {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: fixed;
                    top: 0;
                    right:-300px;
                    height: 100vh;
                    width: 300px;
                    background-color: #e3e6f3;
                    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
                    padding: 80px 0 0 10px;
                    transition: 0.3s ;
                }
                #navbar.active{
                    right:0px;
                }
                #navbar li{
                    margin-bottom: 25px;
                }
                #mobile{
                    display: flex;
                    align-items: center;
                }
                #mobile i{
                    color: #180303;
                    font-size: 24px;
                    padding-left: 20px;
                }
                #close{
                    display: initial;
                    position: absolute;
                    top: 30px;
                    font-size: 24px;
                    color: #180303;
                    left: 30px;
                }
                #lg-bag{
                    display: none;
                }
                #hero{
                    height: 70vh;
                    padding: 0 80px;
                    background-position: top 30% right 30%;
                }
                #feature {
                    justify-content: center;
                    
                }
                #feature .fe-box {
                    margin: 15px 15px;
                }
                #product1 .pro-container {
                    justify-content: center;
                }
                #product1 .pro {
                    margin: 15px;
                }
                #banner {
                    height: 20vh;
                }
                #sm-banner .banner-box {
                    min-width: 100%;
                    height: 30vh;
                }
                #banner3 {
                    padding: 0 40px;
                }
                #banner3 .banner-box {
                    width: 28%;
                }
                #newsletter .form{
                    width: 70%;
            }
        }
        @media (max-width: 477px){
            #header{
                padding: 10px 30px;
            }
            h1{
                font-size: 38px;
            }
            h2{
                font-size: 32px;
            }
            #hero{
                padding: 0 20px;
                background-position: 55%;
            }
            #feature{
                justify-content: space-between;
            }

            #feature .fe-box {
                width: 155px;
                margin: 0 0 15px 0;
            }
            #product1 .pro {
                width: 100%; 
            }
            #BANNER{
                height: 40vh;

            }
            #sm-banner .banner-box {
                height: 40vh;
            }
            #sm-banner .banner-box2 {
                margin-top: 20px;
            }
            #banner3 .banner-box{
                width: 100%;
            }
            #newsletter .form{
                width: 100%;
            }
            footer .copyright{
                text-align: st;
            }

        }